.cards-index {
    margin-left: 5rem;
    text-align: center;
    @include flex(row,wrap,center,center);
    div{
        display: table;
        background-color: black;
        width: 15.6vw;
        height: 35vh;
        margin-right: 3rem;
        a {
            img {
                display: table;
                width: 15.6vw;
                height: 35vh;
            }
            span{
                width: 15.6vw;
                line-height:normal;
                font-size: 1.25rem;
                display:table-caption;
                margin:0;
                background: rgba(0, 0, 0, 0.70);
                color: $colorTexPrincipal;
                font-style:italic;
                padding:5px;
                text-align:center;
            }
            :hover {
                opacity: 40%;
            }
        }
    }
}
.carrusel-index{
    .carrusel-poster {
        display: flex;
        z-index: 0;
        margin-top: 5rem;
        margin-bottom: 5rem;
        width: 80vw;
        height: 50vh;
        .imge{
            width: 0;
            flex-grow: 1;
            object-fit: cover;
            opacity: .8;
            transition: .5s ease;
        }
        :hover{
            width: 10vw;
            opacity: 1;
            filter: contrast(120%);
        }
    }
}
@media (max-width: 1024px){
    .cards-index {
        margin-left: 5rem;
        text-align: center;
        @include flex(row,wrap,center,center);
        div{
            display: table;
            background-color: black;
            width: 10vw;
            height: 30vh;
            margin-right: 3rem;
            a {
                img {
                    display: table;
                    width: 10vw;
                    height: 30vh;
                }
                span{
                    width: 10vw;
                    line-height:normal;
                    font-size: 1.25rem;
                    display:table-caption;
                    margin:0;
                    background: rgba(0, 0, 0, 0.70);
                    color: $colorTexPrincipal;
                    font-style:italic;
                    padding:5px;
                    text-align:center;
                }
                :hover {
                    opacity: 40%;
                }
            }
        }
    }
}